/*
Icon classes can be used entirely standalone. They are named after their original file names.

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.icon-arrow-white-xzc5ij2e {
  background-image: url(sprite.png);
  background-position: -210px -84px;
  width: 40px;
  height: 40px;
}
.icon-chat-545333-2-bfmxv4 {
  background-image: url(sprite.png);
  background-position: -48px -119px;
  width: 42px;
  height: 42px;
}
.icon-circular-arrow-53764 {
  background-image: url(sprite.png);
  background-position: -90px -119px;
  width: 42px;
  height: 42px;
}
.icon-frame-116-1-aupcefbl {
  background-image: url(sprite.png);
  background-position: -210px -124px;
  width: 38px;
  height: 38px;
}
.icon-group-2-vbxptv0i {
  background-image: url(sprite.png);
  background-position: 0px -84px;
  width: 48px;
  height: 103px;
}
.icon-group-5-yt2hhcwb {
  background-image: url(sprite.png);
  background-position: -48px -84px;
  width: 115px;
  height: 35px;
}
.icon-group-6-03undeoy {
  background-image: url(sprite.png);
  background-position: -86px 0px;
  width: 82px;
  height: 84px;
}
.icon-lightning-8446503-1- {
  background-image: url(sprite.png);
  background-position: -168px 0px;
  width: 42px;
  height: 42px;
}
.icon-open-book-2702154-1- {
  background-image: url(sprite.png);
  background-position: -168px -42px;
  width: 42px;
  height: 42px;
}
.icon-package-600268-1-pqm {
  background-image: url(sprite.png);
  background-position: -168px -84px;
  width: 42px;
  height: 42px;
}
.icon-search-lhkhdrji {
  background-image: url(sprite.png);
  background-position: -210px -162px;
  width: 20px;
  height: 20px;
}
.icon-settings-675528-1-25 {
  background-image: url(sprite.png);
  background-position: -168px -126px;
  width: 42px;
  height: 42px;
}
.icon-shopping-cart-373717 {
  background-image: url(sprite.png);
  background-position: -210px 0px;
  width: 42px;
  height: 42px;
}
.icon-star-1-dbgb9y1z {
  background-image: url(sprite.png);
  background-position: 0px 0px;
  width: 86px;
  height: 84px;
}
.icon-union-4la0ytcu {
  background-image: url(sprite.png);
  background-position: -230px -162px;
  width: 19px;
  height: 18px;
}
.icon-won-1490906-1-xpwsyn {
  background-image: url(sprite.png);
  background-position: -210px -42px;
  width: 42px;
  height: 42px;
}
