@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');
body {
   font-family: 'Noto Sans KR', sans-serif;
   font-size: 13px;
   letter-spacing: 0.02em;
   /* background-color: #eee; */
}

.flow-node {
   display: flex;
   justify-content: center;
   flex-direction: column;
   position: absolute;
   z-index: 30;
   background-color: #fff;
   border: 1px solid #dddddf;
   color: #444;
   border-radius: 10px;
   font-size: 14px;
   text-align: center;
   cursor: move;
   box-sizing: border-box;
}
.diamond {
   background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 160 100" preserveAspectRatio="none" ><polygon points="80,0 160,50 80,100 0,50" stroke="%23a7a7a7" stroke-width="1" fill="white"/></svg>');
   background-size: 100% 100%;
   background-repeat: no-repeat;
   background-position: center center;
   background-color: transparent;
}
/* 노드 내부 스타일 */
.node_wrapper {
   width: 100%;
}
.node_title {
   text-align: center;
}

/* zindex 정렬 */
.jtk-connector {
   z-index: 5; /* 선은 가장 뒤에 */
}
.jtk-overlay {
   z-index: 6; /* overlay(화살표)는 선 위에 */
}
.my-endpoint {
   z-index: 10; /* endpoint는 여전히 제일 위 */
}
/* end point */
.jtk-endpoint {
   z-index: 120;
   cursor: pointer;
   display: none;
}
.jtk-endpoint.show {
   display: block;
}
/* 연결선 */
svg path:last-of-type,
.main-path,
.bg-path {
   pointer-events: none;
}
.hit-path {
   cursor: pointer;
}
.hit-path:hover ~ .main-path,
.selected-connection .main-path {
   stroke-width: 2;
}
.selected-connection + .jtk-overlay,
.selected-connection {
   pointer-events: none;
   z-index: 20;
}

/* 연결선 라벨 */
div.jtk-overlay {
   background-color: #fff;
   color: #333;
   padding: 2px 5px;
   border-radius: 4px;
   font-size: 11px;
   white-space: nowrap;
}
div.jtk-overlay.label-green {
   background: #e2fbc9;
}
div.jtk-overlay.label-pink {
   background: #ffeaf1;
}
div.jtk-overlay.label-gray {
   background: #f4f4f4;
}

/* input style */
input[type='text'] {
   width: 90%;
   margin: 5px;
   border: 0;
}

/* 편집채널 */
.property-panel {
   width: 200px;
   height: 400px;
   position: fixed;
   right: 0;
   bottom: 0;
   z-index: 100;
   background-color: #f9f9f9;
   border: 1px solid #d9d9d9;
}
.selected-node {
   filter: drop-shadow(0 0 4px #ddd);
}
