@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Sans+KR:wght@100..900&display=swap');
body,
button,
input,
select {
   font-family: 'Noto Sans KR', serif;
   font-size: 16px;
   font-weight: 400;
}
